#toggle-btn2 {
    display: none;
}

body {
    overflow: scroll;
}

.study-set-head {
    background: linear-gradient(to bottom, rgb(132, 133, 135), rgb(255,255,255));
    width: 100%;
    -bottom: auto;
}
.btn-toolbar{
    background: rgb(204, 203, 203);
}
.btn-toolbar:hover{
    background: rgb(180, 180, 180);
}
.create-set-background{
    position: relative;
}